<style>
    input {
        padding: 5px;
        border-radius: 5px;
    }

    button {
        margin-top: 5%;
        padding: 10px;
        background-color: #5eb5e0;
        border: none;
        color: white;
        font-size: 20px;
    }

    button:hover {
        background-color: #447e99;
    }

    * {
        font-family: Quicksand, sans-serif;
        font-weight: bolder
    }

    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.46);
        -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.46);
        box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.46);
        padding: 20px;
        border-radius: 10px;
        width: 40%;
    }

    .form__row {
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }

    .form__col {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        width: 100%;
    }

    .form__col div {
        display: flex;
        flex-direction: column;
    }
</style>

{% if pw %}
    <div class="container">
        <div class="form">
            {{ form_start(form) }}
            <div class="form__row">
                <div class="form__col">
                    {{ form_row(form.traveldistance) }}
                </div>
                <div class="form__col">
                    {{ form_row(form.flightduration) }}
                </div>
                <div class="form__col">
                    {{ form_row(form.paperplane_model) }}
                </div>
                <div class="form__col">
                    {{ form_row(form.participant_name) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% else %}
    <h2>Log in with the right password!</h2>
    <a href="/results">back</a>
{% endif %}