<a href="/form">Create New</a>

<table>
    <tr>
        <th>ID</th>
        <th>Participant Name</th>
        <th>Paperplane Model</th>
        <th>Flight Duration</th>
        <th>Travel Distance</th>
        <th>Date</th>
    </tr>
    {% for entry in tournamententries %}


    <tr>
        <td>
            <a href="results/{{ entry.id }}">{{ entry.id }}</a>
        </td>
        <td>{{ entry.participantName }}</td>
        <td>{{ entry.paperplaneModel }}</td>
        <td>{{ entry.flightduration }}</td>
        <td>{{ entry.traveldistance }}</td>
        <td>{{ entry.date }}</td>
        <td><a href="/remove/{{ entry.id }}">Remove</a></td>
    </tr>
    {% endfor %}
</table>
